{% extends "base.html" %}
<title>{% block h_title %}{{ object.title}} | {{ block.super }}{% endblock h_title %}</title>
{% block content %}
<div class="col-sm-12 col-sm-offset-10" align="center">
     {% if messages %}
    <div class="messages">

    <ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} {{ message.tags }}{% endif %} {% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
    {% endfor %}
</ul>
    </div>
{% endif %}
    {% if object.image %}<br/>
    <img src="{{ object.image.url }}" class="img-responsive"/>
    {% endif %}
<h1>{{ title }}<br/><small>{{object.timestamp}}<br/></small></h1>
{{object.title}}<br/>
<p><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</p>
<hr/>
<p>

<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ share_string }}%20http:{{ request.build_absolute_uri }}">
Twitter
</a>
<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}">Reddit</a>
</p>
{{object.content|linebreaks }}<br/>
    <p><a href="edit/" class="btn btn-primary" role="button">Edit</a><a href="delete/" class="btn btn-primary" role="button">Delete</a></p>

<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-width="">

</div>
</div>
{% endblock content %}